button {
  background: #333;
  color: #eee;
  border: 2px solid #555;
  border-radius: 6px;
  transition: all 0.2s;
}

button:hover {
  background: #555;
}

button.fail {
  background: #900;
  color: #fff;
}