#leaderboard {
  padding-top: 2em;
}

#leaderboard h2 {
  font-size: 2em;
  margin-bottom: 1em;
}

#leaderboard-list {
  list-style: none;
  padding: 0;
  width: 80%;
  max-width: 400px;
}

#leaderboard-list li {
  padding: 0.5em 1em;
  margin: 0.3em 0;
  background-color: #333;
  border-radius: 5px;
  font-size: 1em;
}