#leaderboard {
  display: block;
  margin-top: 20px;
}

#leaderboard h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

#leaderboard-list {
  list-style: none;
  padding: 0;
  max-height: 500px;
  overflow-y: auto;
  text-align: left;
  margin: 0 auto;
  width: 300px;
}

#leaderboard-list li {
  background: #222;
  margin: 5px 0;
  padding: 8px 12px;
  border-radius: 5px;
  color: #fff;
  font-size: 1rem;
}